* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "sans-serif";
}
body {
  background-color: rgb(255, 255, 255);
}
.navbar {
  background-color: rgb(247, 241, 160);
  padding: 1rem, 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: cornflowerblue;
  position: relative;
  z-index: 100;
}
.logo {
  font-size: 1, 5rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  color: lightblue;
  font-weight: 400;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: grey;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 140%;
  left: 0%;
  background-color: rgb(139, 196, 248);
  min-width: 200px;
  list-style: none;
  padding: 10px 0;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border-top: 3px solid #38bdf8;
  opacity: 0;
  visibility: hidden;
  transform: translate(Y) 15px;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  z-index: 200;
}
.dropdown-menu li a {
  display: block;
  padding: 12px 25px;
  color: lightpink;
  font-size: 0.95rem;
  font-weight: 500;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgb(255, 253, 143);
}
.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -9px; /* Posisi di atas kotak */
  left: 20px; /* Jarak dari kiri */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #38bdf8;
}
.dropdown::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px; /* Area aman di bawah menu induk */
  top: 100%;
  left: 0;
}
.dropdown-menu li:last-child a {
  border-bottom: none;
}
.dropdown-menu li a:hover {
  background-color: lightpink;
  color: skyblue;
  padding-left: 35px;
}
.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 120%;
  transform: translateY(0);
}
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  z-index: 101;
}
.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #77abff;

    flex-direction: column;
    align-items: center;
    max-height: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    z-index: 99;
  }
  .nav-links.active {
    max-height: 500px;
    padding: 20px 0;
    opacity: 1;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  .dropdown-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    transform: none;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    display: none;
    width: 100%;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    background-color: #0f172a;
  }
  .hamburger.toggle span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }
  .hamburger.toggle span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }
}
